/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* custom styles */

html {
  scroll-behavior: smooth;
}

.prose .anchor {
  @apply absolute invisible;
  margin-left: 10px;
}

.prose *:hover > .anchor {
  @apply visible no-underline text-gray-300;
}

.authorInfo {
  @apply text-[#686868] block mt-2 text-xs font-normal;
}

@layer utilities {
  .grid-custom {
    grid-template-columns: 60px 1fr;
  }
  .grid-custom-col-sm {
    grid-template-columns: 60px 1fr 1fr;
  }
  .custom_transform {
    transform: translate3d(-100%, 0, 0);
  }
  .show-nav {
    visibility: visible;
    transition: transform 0.35s cubic-bezier(0.24, 1, 0.32, 1),
      -webkit-transform 0.35s cubic-bezier(0.24, 1, 0.32, 1);
    transform: translate3d(0, 0, 0);
  }
  .cust_translateZ {
    transform: translateZ(0);
  }
  .custom_heading_style .custom_heading {
    text-align: center;
  }
  .noFeatured .removeFeatured {
    display: none;
  }
  .noFeatured h2 {
    font-size: 1.125em;
    line-height: 1.4;
  }
  .noFeatured p,
  .noFeatured span {
    font-size: 14px;
    line-height: 1.65;
  }
  .featured__home {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.2s ease, border 0.2s ease;
  }
  .featured__home:hover {
    border: 1px solid transparent;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  }
  .nl {
    display: block;
  }

  @media screen and (min-width: 480px) {
    .nl {
      display: inline-block;
    }
  }

  .cust_line {
    position: relative;
  }

  .cust_line:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 46px;
    background: #f7f7f7;
  }

  .authorInfoWrap {
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "image info"
      "content content";
  }

  @media screen and (min-width: 480px) {
    .authorInfoWrap {
      grid-template-areas:
        "image info"
        "image content";
    }
  }

  /* @media screen and (min-width: 768px) {
    .authorInfoWrap {
      grid-template-areas:
        "image info"
        "content content";
    }
  } */
  .image {
    grid-area: image;
  }
  .info {
    grid-area: info;
  }
  .content {
    grid-area: content;
  }
}
