/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* custom styles */

html {
  scroll-behavior: smooth;
}

.prose .anchor {
  @apply absolute invisible;
  margin-left: -1em;
  padding-right: 0.5em;
}

.prose *:hover > .anchor {
  @apply visible no-underline text-gray-300;
}

@layer utilities {
  .grid-custom {
    grid-template-columns: 60px 1fr;
  }
  .grid-custom-col-sm {
    grid-template-columns: 60px 1fr 1fr;
  }
}
