/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inter-v8-latin-300.woff2") format("woff2"); /* Super Modern Browsers */
  }

  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter-v8-latin-regular.woff2") format("woff2"); /* Super Modern Browsers */
  }

  /* inter-700 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter-v8-latin-700.woff2") format("woff2"); /* Super Modern Browsers */
  }

  /* @font-face {
    font-family: "Merriweather";
    src: url(/fonts/Merriweather-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Merriweather";
    src: url(/fonts/Merriweather-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  } */

  /*
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
} */

  body {
    @apply font-inter;
  }
}

/* custom styles */

html {
  scroll-behavior: smooth;
}

.prose {
  color: #1a1a1a;
  font-weight: 400;
  line-height: 1.8;
}

.prose .anchor {
  @apply absolute invisible;
  margin-left: 5px;
}

.prose h2 {
  @apply mb-4 mt-[1em] md:text-[2rem];
}

.prose *:hover > .anchor {
  @apply visible no-underline text-gray-300;
}

.authorInfo {
  @apply text-[#686868] block mt-2 text-xs font-normal;
}

.shareIconStyle {
  @apply text-[20px] text-black hover:text-white rounded-full bg-[#f3f4f7] p-[10px] hover:bg-[#6678ff] transition mr-7 lg:mr-0 mb-[10px];
}

@layer utilities {
  .grid-custom {
    grid-template-columns: 60px 1fr;
  }
  .grid-custom-col-sm {
    grid-template-columns: 60px 1fr 1fr;
  }
  .custom_transform {
    transform: translate3d(-100%, 0, 0);
  }
  .show-nav {
    visibility: visible;
    transition: transform 0.35s cubic-bezier(0.24, 1, 0.32, 1),
      -webkit-transform 0.35s cubic-bezier(0.24, 1, 0.32, 1);
    transform: translate3d(0, 0, 0);
  }
  .cust_translateZ {
    transform: translateZ(0);
  }
  .custom_heading_style .custom_heading {
    text-align: center;
  }
  /* .noFeatured .removeFeatured {
    display: none;
  }
  .noFeatured h2 {
    font-size: 1.125em;
    line-height: 1.4;
  }
  .noFeatured p,
  .noFeatured span {
    font-size: 14px;
    line-height: 1.65;
  } */
  .featuredCard {
    padding: 28px;
    background-color: #fff;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    /* box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12); */
    /* transition: box-shadow 0.2s ease, border 0.2s ease; */
    /* transition: transform 0.5s, -webkit-transform 0.5s; */
    transition: all 0.5s;

    box-shadow: 8px 8px 0 rgba(32, 33, 37, 0.1);
    border: 1px solid #dbdce0;
  }
  .featuredCard:hover {
    /* border: 1px solid #eaeaea; */
    box-shadow: 12px 12px 0 rgba(32, 33, 37, 0.06);
    transform: translateY(-5px);
  }
  .nl {
    display: block;
  }

  @media screen and (min-width: 480px) {
    .nl {
      display: inline-block;
    }
  }

  .cust_line {
    position: relative;
  }

  .cust_line:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 46px;
    background: #f7f7f7;
  }

  .authorInfoWrap {
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "image info"
      "content content";
  }

  @media screen and (min-width: 480px) {
    .authorInfoWrap {
      grid-template-areas:
        "image info"
        "image content";
    }
  }

  /* @media screen and (min-width: 768px) {
    .authorInfoWrap {
      grid-template-areas:
        "image info"
        "content content";
    }
  } */
  .image {
    grid-area: image;
  }
  .info {
    grid-area: info;
  }
  .content {
    grid-area: content;
  }

  /* Header */
  .custom_shadow {
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
      0 4px 6px -2px rgba(71, 63, 79, 0.16);
  }

  /* .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  } */

  /* Blog post */
  /* Series posts links */

  .prose ul > li.seriesLinkItem {
    padding: 0;
  }
  .prose ul > li.seriesLinkItem::before {
    content: normal;
  }
  @media screen and (min-width: 640px) {
    .seriesLinkItem {
      width: calc(50% - 1.2rem);
    }
  }

  .prose ul > li.seriesLinkItem a {
    color: #195faa;
    text-decoration: none;
  }

  /* Custom post page layout */
  @media screen and (min-width: 1024px) {
    .post_wrap {
      grid-template-columns: 160px minmax(0, 1fr);
      grid-template-areas: "aside main" "aside section";
    }
    .post_main {
      grid-area: main;
      margin: 0;
    }
    .post_aside {
      grid-area: aside;
      margin: 0;
    }
    .post_additonal_section {
      grid-area: section;
      margin: 40px 0 0;
    }
  }
}
